@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AppCloud</h1>
    <p>Exámen de Cloud Computing en la carrera de Software 6to Semestre.</p>
    <p>En este proyecto se presenta la creación de dos tablas relacionadas.</p>
    <ul>
    <li>Launchers</li>
    <li>Games</li>
    </ul>
    <p>Puesto que existen launchers de juegos donde encontramos infinidad de opciones</p>
</div>
