@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AppCloud con Launchers/Games</h1>
    <p>Esta app web es el exámen de la materia de Cloud Computing, se presenta el CRUD de una API la cual trabaja con 2 tablas relacionadas:</p>
    <ul>
        <li>Launchers</li>
        <li>Games</li>
    </ul>
    <p>Es bueno conocer que en este contexto, los launchers son las plataformas donde se suben juegos donde se presentan infinidades de opciones</p>
</div>
